body {
  background-color: #F3F7FA;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
}

.filter {
  

  h2 {
    margin-top: 20px;
    letter-spacing: .5;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
  }

  input {
    display: none;
    position: relative;
    margin: 0;
    padding: 0;
  }

  input:checked + label {

    &:after {
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.28571 8L0 4.16123L1.20857 3.0787L4.28571 5.82726L10.7914 0L12 1.09021L4.28571 8Z' fill='%232196F3'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      position: absolute;
      left: 21px;
      top: 11px;
    }
  }

  label {
    margin-bottom: 0px;
    font-size: 13px;
    color: #4A4A4A;
    width: 100%;
    text-align: left;
    padding: 10px 20px 10px 50px;
    box-sizing: border-box;
    position: relative;
    line-height: 20px;

    &:hover {
      background: #F1FCFF;
    }

    &:before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      left: 20px;
      border: 1px solid #2196F3;
      border-radius: 2px;
    }
  }
}

.filter {

  form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
  }
}

.sort {
  width: 100%;

  &__button {
    width: 50%;
    padding: 15px 56px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #DFE5EC;
    box-sizing: border-box;
  }
}